body {
    text-align: center;
  }
  h1 {
    text-decoration: underline;
    font-style: italic;
  }
  h2 {
    margin-top: 50px;
    font-style: italic;
    text-decoration: underline;
  }
  ol {
    text-align: center;
    display: inline-block;
    margin-top: 50px;
  }
  ol li {
    margin-top: 50px;
  }
  button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  button:hover {
    cursor: pointer;
  }